@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: linear-gradient(260deg, #f1f1f1, #d7e1ec);
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.baby-list {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

/* Baby list elements */

.f,
.m {
  display: inline-block;
  padding: 4px 5px;
  margin: 5px;
  border-radius: 3px;
  height: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.f {
  background-color: #f8bbd0;
  color: #880e4f;
}

.m {
  background-color: #bbdefb;
  color: #0d47a1;
}

.m:hover .f:hover {
  cursor: pointer;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
}

.f:hover {
  background-color: #ffcdd2;
}

.m:hover {
  background-color: #e3f2fd;
}

.f:focus .m:focus {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

/* Search */

.search {
  margin: 20px auto;
  display: flex;
  width: 50vw;
}

.searchbar {
  position: relative;
  display: flex;
  min-width: 100px;
  margin: 15px 10px;
}

.search-icon {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 4px;
  right: 8px;
  width: 18px;
  cursor: pointer;
}

.search-input {
  border: white 0px solid;
  border-radius: 10px;
  font-size: 16px;
  height: 25px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: linear-gradient(315deg, #ffffff, #d7e1ec);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.search-input:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.search-input:focus {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.sex-buttons {
  display: inline-flex;
}

#-button,
#m-button,
#f-button {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  border-radius: 25%;
  padding: 10px;
  margin: 5px;
  height: 20px;
  font-size: 16px;
}

#-button {
  width: 45px;
  text-align: center;
}

#m-button,
#f-button {
  width: 20px;
}

#-button:hover,
#m-button:hover,
#f-button:hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

#-button:focus,
#m-button:focus,
#f-button:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* Favourites bar */

.favourites-bar {
  min-height: 150px;
  margin: 10px 20px;
}

/* Footer */

footer {
  text-align: center;
  margin: 20px auto;
}
